# Deployment
VITE_BASE_PATH=/

# Fundraising
VITE_DONATION_URL=https://example.com/donate
VITE_FUNDS_RAISED=10000
VITE_FUNDRAISING_GOAL=4000000
VITE_LAND_ACQUISITION_COST=3200000
VITE_INITIAL_BUILDING_COST=800000
VITE_SPONSORSHIP_AMOUNT=10000
VITE_MILESTONE_1_AMOUNT=1000000
VITE_MILESTONE_1_DATE=December 31, 2026
VITE_MILESTONE_2_AMOUNT=1000000
VITE_MILESTONE_2_DATE=March 10, 2027
VITE_MILESTONE_3_AMOUNT=1200000
VITE_MILESTONE_3_DATE=May 31, 2027
VITE_MILESTONE_4_AMOUNT=800000
VITE_MILESTONE_4_DATE=December 31, 2027

# Organization
VITE_CONTACT_EMAIL=contact@cicsnw.org
VITE_CLASSES_EMAIL=taiba@cicsnw.org
VITE_PHONE=+1 604 780 0048
VITE_ADDRESS_LINE_1=1206 Kingston Street
VITE_ADDRESS_LINE_2=New Westminster, BC
VITE_NEW_MASJID_LOCATION_LINE_1=Eighth Avenue & Eighth Street
VITE_NEW_MASJID_LOCATION_LINE_2=New Westminster, BC
VITE_NEW_MASJID_MAPS_URL=https://www.google.com/maps/search/?api=1&query=Eighth+Avenue+%26+Eighth+Street%2C+New+Westminster%2C+BC
VITE_CHARITY_REGISTRATION_NUMBER=769877523RR0001

# Social links
VITE_WHATSAPP_URL=https://chat.whatsapp.com/Ecg1NHbuhgQHr5lZ2XxsqH?s=cl&p=a&ilr=1
VITE_FACEBOOK_URL=https://www.facebook.com/cicsnw.org
VITE_INSTAGRAM_URL=https://www.instagram.com/taibamusallah
VITE_YOUTUBE_URL=https://youtube.com/@canadianislamicculturalsociety

# Prayer times
VITE_ATHAN_DESKTOP_EMBED_URL=https://timing.athanplus.com/masjid/widgets/embed?theme=6&masjid_id=adJkaqKk
VITE_ATHAN_MOBILE_EMBED_URL=https://timing.athanplus.com/masjid/widgets/embed?theme=3&masjid_id=adJkaqKk
VITE_AWQAT_URL=https://www.awqat.net/masjid/taiba-musallah
